.archive-title {
	margin: 1em 0;
	padding-top: 20px;
	color: #999;
	font-size: 1em;
}

.more {
	text-align: center;
}

.more a {
	border: none;
}

.protected .text {
	width: 50%;
}

/* archive page - 归档页面 */
.archive-model {
	padding-top: 0px;
	padding-bottom: 0px;
}
.archive-month {
	color: #444;
	font-size: 26px;
}
.archive-title {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
}
.archive-title > a {
	color: #444 !important;
}
/* archive page - 归档页面 */