body {
	background: #fcfcfc;
	margin: 0;
	color: #444;
	font-family: Georgia, Palatino, "Palatino Linotype", "Palatino LT STD", source-han-serif-sc, "Source Han Serif SC", "Source Han Serif CN", "Source Han Serif TC", "Source Han Serif TW", "Source Han Serif", "Songti SC", "Times New Roman", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "WenQuanYi Micro Hei", "Microsoft Yahei", Microsoft YaHei;
	font-size: 100%;
}

a {
	color: #9f563a;
	text-decoration: none;
	&:hover, &:active {
		text-decoration: underline;
	}
}

p {
	line-height: 1.75;
	display: block;
	margin-block-start: 8px;
	margin-block-end: 8px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

pre,code {
	background: #F3F3F3;
	font-family: /*Menlo,*/Monaco,Consolas,"Lucida Console","Courier New",monospace;
	font-size: 100%;
}

code {
	padding: 2px 4px;
	color: #B94A48;
}

pre {
	padding: 8px;
	overflow: auto;
	max-height: 400px;
}

pre code {
	padding: 3px;
	color: #444;
}

blockquote {
	margin: 1em 0;
	padding: 0.5em 1.5em;
	border-left: 4px solid #9f563a;/*#ddd;*/
	color: #666;
	background: rgba(159,86,58,.03);
}

/*
h1,h2,h3,h4,h5,h6 {
	font-family: "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}
*/

input[type="text"],input[type="email"],input[type="url"],input[type="password"],textarea {
	padding: 5px;
	border: 1px solid #E9E9E9;
	width: 100%;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
}

/*
.post-meta a,.post-content a,.widget a,.comment-content a {
	border-bottom: 1px solid #EEE;
}

.post-meta a:hover,.post-content a:hover,.widget a:hover,.comment-content a:hover {
	border-bottom-color: transparent;
}
*/

.browsehappy {
	padding: 8px 0;
	background: #FBE3E4;
	color: #8A1F11;
	text-align: center;
	a {
		color: #8A1F11;
		text-decoration: underline;
		font-weight: bold;
	}
}