/* HELPBAR */
#helpbar #back2top {
	border: none;
	color: #999;
	background: none;
	font-size: 150%;
	padding: 0;
	outline: none;
}
/* HELPBAR */

/* highlight.js - 代码高亮 */
.hljs {
	padding: 10px;
	background: #fafafa !important;
	font-family: "Fira Mono","Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace !important;
}
pre {
	padding-left: 40px;
	padding-right: 40px;
	background: #fafafa;
	font-size: 80%;
	margin-left: -40px;
	margin-right: -40px;
	max-height: none;
}
/* highlight.js - 代码高亮 */

/* images - 插图 / 图片 */
.post-content img {
	display: block;
	margin: auto;
}
/* images - 插图 / 图片 */

.sidebar-foot {
	color: #888;
	font-size: 80%;
	font-family: "Droid Serif",
		Georgia,
		"Times New Roman",
		"PingFang SC",
		"Hiragino Sans GB",
		"Source Han Sans CN",
		"WenQuanYi Micro Hei",
		"Microsoft Yahei",
		serif;
}

/* table - 表格 */
table {
	border: 1px solid #eee;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0 !important;
	/* box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08); */
}
table th,table td {
	padding: 5px 10px;
	line-height: 30px;
	border: 1px solid #eee;
}

table th {
	background: #eee;
}
table tr {
	transition: 0.15s ease;
}
table tr:hover {
	background: #eee;
}
/* table - 表格 */