/* index - 文章聚合 */
.post-title {
	margin: 0.5em 0;
}
.post-title > a {
	font-weight: 400;
	color: #444 !important;
}
.post-atmain {
	margin-left: -40px;
	margin-right: -40px;
	padding-left: 40px;
	padding-right: 40px;
}
.post-atmain,
.post-atmain .post-title {
	transition: 0.25s;
}
.post-atmain:hover {
	background: #f0f0f0;
}
.post-atmain:hover .post-title {
	/* letter-spacing: 5px; */
}
.more {
	font-size: 80%;
	margin: auto;
	display: block;
	width: 120px;
	letter-spacing: 2px;
	border: 1px solid #0000;
}
.more:hover {
	border: 1px solid #9f563a;
	/* text-decoration: underline;	 */
}
.more a { 
	color: #999 !important;
}
.more:hover a {
	color: #9f563a !important;
	text-decoration: none;	
}
/* index - 文章聚合 */
