.post {
	padding: 15px 0 20px;
	border-bottom: 1px solid #EEE;
	&:nth-last-of-type(1) {
		border: none;
	}
	.tags {
		clear: both;
	}
}

.post-title {
	margin: .83em 0;
	font-size: 1.4em;
}

.post-meta {
	margin-top: -0.5em;
	padding: 0;
	color: #999;
	font-size: .92857em;
	li {
		display: inline-block;
		margin: 0 8px 0 0;
		padding-left: 12px;
		border-left: 1px solid #EEE;
		&:first-child {
			margin-left: 0;
			padding-left: 0;
			border: none;
		}
	}
}

.post-content {
	line-height: 1.5;
}

.post-near {
	list-style: none;
	margin: 30px 0;
	padding: 0;
	color: #999;
	li {
		margin: 10px 0;
	}
}

/* 文章 */
.post-title {
	font-size: 20px;
}
.post-meta {
	margin-top: 0px !important;
}
.post-title-atpage {
	font-size: 24px;
	margin-top: 32px;
	text-align: center;
}
.post-title-atpage a:hover {
	text-decoration: none;
}
.post-meta-atpage {
	margin-bottom: 64px;
	text-align: center;
}
.post-meta * {
	color: #999 !important;
}
.post-meta a:hover {
	color: #9f563a !important;
}
.post-atpage {
	border-bottom: none;
}
/* 文章 */

/* POST NEAR */
.post-near {
	margin-top: 40px;
	width: calc(100% + 80px);
	margin-left: -40px;
	margin-right: -40px;
}
.post-near-child {
	width: calc(50% - 40px);
	float: left;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 12px;
	transition: 0.25s;
}
.post-near-child > a {
	font-size: 16px;
}
.post-near-child:hover {
	background-color: #eee;
	text-decoration: underline;
}
.post-near-child-left {
	padding-left: 40px;
	text-align: left;
}
.post-near-child-right {
	text-align: right;
	padding-right: 40px;
}
/* POST NEAR */