<div id="comments">
    <% if (theme.comments.use === 'Gitalk') { %> 
        <%- partial('gitalk') %>
    <% } else if (theme.comments.use === 'Disqus') { %>
        <%- partial('disqus') %>
    <% } else if (theme.comments.use === 'Valine') { %>
        <%- partial('valine') %>
    <% } %> 
</div>